body {
    background-color: #f4f5f6f7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #505050;
} 

 nav ul{
    list-style: none;
}

nav {
    position: sticky;
}

nav a:hover {
    text-decoration: underline;
}

.musk-mockery h2:hover{
    /* text-decoration: underline; */
    animation-name: musk-mockery;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: initial;
}

.musk-mockery a{
    text-decoration: none;
    color: #505050;
}

.musk-mockery {
    background-color: #f4f5f6f7;
    display: block;
    position: sticky;
    top: 10px;
    z-index: 100;
    padding: 5px;
    text-align: left;
    width: fit-content;
    border: 1px solid #505050;
    border-radius: 10px;
    animation-name: borderanim;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: initial;
}

@keyframes musk-mockery {
    0%  {color: #e81416;}
    14% {color: #ffa500;}
    28% {color: #faeb36;}
    42% {color: #79c314;}
    56% {color: #487de7;}
    70% {color: #4b369d;}
    84% {color: #70369d;}
    100%{color: #f293e2;}
}

@keyframes borderanim {
    0%{border: 2px solid #e81416;}
    14%{border:2px solid #ffa500;}
    28%{border:2px solid #faeb36;}
    42%{border:2px solid #79c314;}
    56%{border:2px solid #487de7;}
    70%{border:2px solid #4b369d;}
    84%{border:2px solid #70369d;}
    100%{border:2px solid #f293e2;}
}

h1{
    font-size: xx-large;
}

.bio img {
    width: 420px;
    border-radius: 10%;
}
 
.bio {
    text-align: center;
    position: relative;
    top: -150px;
    margin: auto;
    /* left: 30%; */
    /* width: 70%; */
}

iframe {
    text-align: center;
    width: 98vw;
    height: 90vh;
    margin: auto auto 150px auto;
    border-radius: 10px;
    border: 2px groove transparent;
    border-bottom: #505050 2px groove;
    border-top: #505050 2px groove;
}

ol {
    list-style-type: upper-roman;
    text-align: center;
}

.hate {
    text-align: center;
    width: fit-content;
    padding: 8px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #fff;
    border: 1px groove #a0a0a0a0;
    border-radius: 10px;
}