body {
    background-color: #f0f1f2f3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #505050;
} 

nav ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #505050;
}

a:hover {
    text-decoration: underline;
}

.musk-mockery > h2:hover{
    /* text-decoration: underline; */
    animation-name: musk-mockery;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: initial;
}

@keyframes musk-mockery {
    0%{color: #e81416;}
    14%{color: #ffa500;}
    28%{color: #faeb36;}
    42%{color: #79c314;}
    56%{color: #487de7;}
    70%{color: #4b369d;}
    84%{color: #70369d;}
    100%{color: #f293e2;}
}

.bio img {
    width: 500px;
    border-radius: 10%;
}

.bio {
    text-align: center;
}